<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.mallang.order.adapter.persistence.mybatis.OrderQueryMapper">

    <select id="selectMyOrders" resultType="io.mallang.order.adapter.persistence.mybatis.model.OrderListRow">
        WITH
        cursor_order AS (
            SELECT
                o.order_id,
                o.ordered_at
            FROM orders o
            WHERE o.order_id = #{lastOrderId}
        ),
        filtered_orders AS (
            SELECT
                o.order_id,
                o.status,
                o.ordered_at
            FROM orders o
            LEFT JOIN cursor_order co ON true
            <where>
                o.member_id = #{memberId}
                <if test="status != null and status != ''">
                    AND o.status = #{status}
                </if>
                <if test="lastOrderId != null and lastOrderId != ''">
                    AND (
                        o.ordered_at &lt; co.ordered_at
                        OR (
                            o.ordered_at = co.ordered_at
                            AND o.order_id &lt; co.order_id
                        )
                    )
                </if>
            </where>
        ),
        order_item_summary AS (
            SELECT
                oi.order_id,
                SUM(oi.price * oi.quantity) AS total_price,
                COUNT(*) AS item_count,
                MIN(oi.order_item_id) AS main_order_item_id
            FROM order_items oi
            JOIN filtered_orders fo ON fo.order_id = oi.order_id
            GROUP BY oi.order_id
        )
        SELECT
            o.order_id AS orderId,
            o.status,
            o.ordered_at AS orderedAt,
            ois.total_price AS totalPrice,
            ois.item_count AS itemCount,
            p.product_id AS mainProductId,
            p.name AS mainProductName,
            pi.image_url AS mainProductThumbnailImageUrl
        FROM filtered_orders o
        JOIN order_item_summary ois ON ois.order_id = o.order_id
        JOIN order_items oi ON oi.order_item_id = ois.main_order_item_id
        JOIN products p ON p.product_id = oi.product_id
        LEFT JOIN product_images pi ON pi.product_id = p.product_id
                                  AND pi.is_thumbnail = true

        ORDER BY o.ordered_at DESC, o.order_id DESC
        LIMIT #{limit}
    </select>
</mapper>
