<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.mallang.product.adapter.persistence.mybatis.ProductQueryMapper">

    <select id="selectProducts" resultType="io.mallang.product.adapter.persistence.mybatis.model.ProductListRow">
        SELECT
            p.product_id AS productId,
            p.seller_id AS sellerIdValue,
            m.nickname AS sellerNickname,
            p.name,
            p.price,
            s.quantity AS stockQuantity,
            p.status,
            p.category,
            pi.image_url AS thumbnailImageUrl
        FROM products p
        JOIN members m ON m.member_id = p.seller_id
        JOIN stocks s ON s.product_id = p.product_id
        LEFT JOIN product_images pi ON pi.product_id = p.product_id
                                   AND pi.is_thumbnail = true
        <where>
            <if test="sellerNickname != null and sellerNickname != ''">
                AND lower(m.nickname) LIKE concat('%', lower(#{sellerNickname}), '%')
            </if>
            <if test="productName != null and productName != ''">
                AND lower(p.name) LIKE concat('%', lower(#{productName}), '%')
            </if>
            <if test="minPrice != null">
                AND p.price &gt;= #{minPrice}
            </if>
            <if test="maxPrice != null">
                AND p.price &lt;= #{maxPrice}
            </if>
            <if test="category != null and category != ''">
                AND p.category = #{category}
            </if>
            <if test="lastProductId != null and lastProductId != ''">
                AND p.product_id &lt; #{lastProductId}
            </if>
        </where>
        ORDER BY p.product_id DESC
        LIMIT #{limit}
    </select>

    <select id="selectProductDetailRows" resultType="io.mallang.product.adapter.persistence.mybatis.model.ProductDetailRow">
        SELECT
            p.product_id        AS productId,
            p.seller_id         AS selleridValue,
            m.nickname          AS sellerNickname,
            p.name,
            p.description,
            p.price,
            s.quantity           AS stockQuantity,
            p.status,
            p.category,
            pi.product_image_id AS imageId,
            pi.image_url        AS imageUrl,
            pi.is_thumbnail     AS thumbnail
        FROM
            products p
                JOIN members m ON m.member_id = p.seller_id
                JOIN stocks s ON s.product_id = p.product_id
                LEFT JOIN product_images pi ON pi.product_id = p.product_id
        WHERE
            p.product_id = #{productIdValue}
        ORDER BY
            pi.is_thumbnail DESC,
            pi.product_image_id;
    </select>
</mapper>
